form {
    & label {
        display: block;
    }
    & input, select {
        width: 100%;
    }
    & input, select, button {
        font-size: inherit;
        padding: .5em;
        margin-bottom: .5em;
        border-radius: 5px;
    }
    & button {
        cursor: pointer;
        margin-top: 1em;
        font-weight: bold;
        background-color: green;
        &:hover {
            background-color: red;
            color: black;
        }
    }
    & input:required, input:invalid {
        border: 2px solid red;
    }
    & input:valid {
        border: 2px solid green;
    }
}